.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::after {
  content: '';
  position: absolute;
  filter: blur(45px);
  background: var(--primary-glow);
  width: 200%;
  height: 100%;
  top: -15%;
  left: -10%;
  z-index: -1;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(100%, auto));
    margin-bottom: 120px;
    max-width: 320px;
    /*text-align: center;*/
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

.creatorName {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

ul.links {
  list-style: none;
  display: flex;
  font-size: 1.75rem;
  margin-bottom: 3rem;
}

ul.links li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}