.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.main ul {
  padding-inline-start: 40px;
}

.main > h1, .main > h2, .main > h3, .main > h4, .main > h5 .main > h6{
  padding-bottom: 1rem;
}

.center {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10vw;
  justify-content: center;
  align-items: center;
  position: relative;
  width:100%;
  padding: 4rem 0;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1.5rem;
  }
  .content {
    padding: 4rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(100%, auto));
    margin-bottom: 120px;
    /*max-width: 320px;*/
    /*text-align: center;*/
  }
}

.logo img {
  max-width: 100%;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Pages */

.secretLink {
  display: block;
  border: solid 0.05rem rgba(100, 100, 105, 0);
  border-radius: 1rem;
  padding: 1rem;
  width: 1rem
}

.secretLink:hover {
  background: rgba(100, 100, 105, 0.1);
  border: solid 0.05rem rgba(100, 100, 105, 0.3);
}

ul.links {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  list-style: none;  
  font-size: 2rem;
  padding-left: 0;
  margin: auto;
}

ul.links li {
  white-space: nowrap;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ul.links li a {
  color: inherit;
  vertical-align: middle;
}

.linkName {
  vertical-align: middle;
  margin-left: 0.3rem;
}

.googleForm {
  text-align: center;
}

.googleForm iframe {
  width: 100%;
}

.customForm {
  width: 100%;
}

.customForm div{
  margin-bottom: 0.7rem;
  text-align: left;
}

.customForm label{
  display: block;
  margin-bottom: 0.5rem;
}

.customForm input, .customForm textarea {
  font-size: 1rem;
  padding: 0.7rem;
  border: solid 1px #50FFDF;
  border-radius: 5px;
  background-color: #01322b;
}

.customForm textarea{
  width: 100%;
}

.modal {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  padding: 0.7rem;
  border: solid 1px #FF50DF;
  border-radius: 5px;
  background-color: #320129;
  animation-name: fadein;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes fadein {
  0%, 100% {
      opacity: 0;
  }
  10%, 75% {
      opacity: 1;
  }
}