.youtubeThumbnail {
    display: inline-block;
    text-align: center;
    width: 100%;
    aspect-ratio: calc(16/9);
}

.youtubeThumbnail img {
    width: 95%;
    height: 95%;
}

.youtubeEmbeddedVideo {
    display: inline-block;
    text-align: center;
    width: 100%;
    aspect-ratio: calc(16/9);
}

.youtubeEmbeddedVideo iframe {
    width: 95%;
    height: 95%;
}